.appTitle{
    font-weight: bold;
}

.inputBox{
    display: flex;
    margin-top: 14px;
}

.todoInput{
    border-radius: 3px;
}

.todoItem{
    cursor: pointer;
}

.todoList{
    margin-top: 30px;
}

.instructions{
    font-size: 11px;
}

